body {
    background: linear-gradient(45deg, yellow, blue, orange);
    color: white;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 50%;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 38px;
    line-height: 49px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
